*background:  #282c34
*cursorColor:  #c2c9d8
*foreground:  #abb2bf
*color0:  #282c34
*color1:  #e06c75
*color2:  #98c379
*color3:  #e5c07b
*color4:  #61afef
*color5:  #c678dd
*color6:  #56b6c2
*color7:  #abb2bf
*color8:  #3a404c
*color9:  #f97882
*color10:  #aadb87
*color11:  #ffd588
*color12:  #67baff
*color13:  #dd85f7
*color14:  #60cddb
*color15:  #c2c9d8
